aiohttp==3.8.5
asyncio
solana==0.26.0
python-dotenv==1.0.0
cryptography==41.0.2
statistics
requests==2.31.0
numpy==1.25.0
pandas==2.1.2
matplotlib==3.8.0
scipy==1.11.3
sklearn==1.3.1
sqlalchemy==2.1.0
nacl==1.5.0
retrying==1.3.4
logging
datetime
json
queue
threading
